@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

@font-face {
  font-family: "ABremenCaps";
  src: url("@/assets/fonts/ABremenCaps.eot");
  src: local("ABremenCaps"), local("ABremenCaps"),
    url("@/assets/fonts/ABremenCaps.eot?#iefix") format("embedded-opentype"),
    url("@/assets/fonts/ABremenCaps.woff2") format("woff2"),
    url("@/assets/fonts/ABremenCaps.woff") format("woff"),
    url("@/assets/fonts/ABremenCaps.ttf") format("truetype"),
    url("@/assets/fonts/ABremenCaps.svg#ABremenCaps") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
